.ult-aside {
    position: relative;
}

.ult-aside .col-resizer {
    position: absolute;
    height: 100%;
    width: 20px;
    transform: translateX(-50%);
    z-index: 1010;
    cursor: col-resize;
}

.ult-aside.ult-left-aside .col-resizer {
    left: 100%;
}

.ult-sidebar .pro-sidebar-inner {
    background: rgba(0, 0, 0, 0.5);
}

.ult-sidebar.ult-fit-content {
    height: fit-content;
}

.ult-sidebar.ult-stretched-sidebar {
    height: 100%;
}

.ult-sidebar.ult-drawer {
    position: fixed;
    top: 0;
}

.ult-sidebar.ult-right-sidebar {
    left: 100%;
    transform: translate(-100%);
}

.ult-sidebar.ult-left-sidebar {
    left: 0;
}
